<div class="hitfinished">
	<div class="row display panel warning">
		Thanks for completing this HIT! Please return to MTurk and enter the Twitter account you used to sign up here so we can approve your work.
	</div>
</div>