<div class="row panel instructions warning">
	<h3>Thanks for the discussion!
	<%= link_to image_tag("followus.png", :size => "100x20"), {:action => "follow", :controller => "tweets"} %>
	</h3>
	<p>
		We are running a Twitter account to persuade people that the Trayvon Martin trial verdict was right. Please help us write tweets for this account.
		<ul>
			<li>Write at least 3 awesome tweets that will spread the word that the trial verdict was right.</li>
			<li>Vote for at least 5 tweets that others have written. Vote UP the best and vote DOWN the worst.</li>
			<li>Wherever you can, use #hashtags to label topics. For example #justice, #standyourground, and #zimmerman are good ones to use when they fit into the tweet.</li>
			<li>Whenever possible, include links to news articles that support Zimmerman.</li>
			<li>Please help by clicking the Tweet button on the best posts!</li>
		</ul>
	</p>
</div>