
<div class="display">
 Please login with:<br/><br/>
 <!--<form id='persona_form' action='/auth/persona/callback' novalidate="noValidate" method="POST">
      <input type='hidden' name='assertion'/>
      <button type='submit' class='persona-login'>Login with Persona</button>
  </form>-->
  <!--
  <a href="/auth/persona">auth/persona</a>
  <a href="/auth/persona/callback">auth/persona/callback</a>-->
  <!--<form id='twitter_form' action='/auth/twitter/callback' novalidate="noValidate">-->
  <a href="/auth/twitter">
  Your Twitter account
	</a>
</div>